@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #1f2937;
  border: 2px solid #4b5563;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #10b981;
  border-color: #10b981;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 46%;
  left: 50%;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 0.1rem 0.1rem 0;
  transform: translate(-50%, -50%) rotate(45deg);
}