@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #1f2937;
  border: 2px solid #4b5563;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #10b981;
  border-color: #10b981;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 46%;
  left: 50%;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 0.1rem 0.1rem 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
input:focus {
  @apply outline-none;
}

.btn {
  @apply bg-rose-500 text-white py-2 px-6 mt-4 rounded-full shadow-lg shadow-rose-200;
}

.card {
  @apply bg-primaryBlack shadow-md rounded-md text-white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.homeSlider {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
}

.slick-slide {
  transition: transform 0.5s ease;
}

.slick-center .slide {
  transform: scale(1.15); 
}
.slick-dots li button:before {
  color: white  !important;
  font-size: 6px !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #10b981 !important ; 
  font-size: 10px !important;
  opacity: 1 !important; 
}
.bg-darkBlue {
  background-color: #182736;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #5CFF85;
}

.triangle-down-white {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid white;
}

.triangle-down-green {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #5CFF85;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Chrome, Safari, and Opera */
  height: 3px; /* Chrome, Safari, and Opera */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0B1926; /* Track background */
  /* border-radius: 10px; Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #BDBDBD80; /* Thumb background */
  border-radius: 10px; /* Rounded corners */
}


.helpdesk-submenu {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.helpdesk-submenu.open {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 200px;
  opacity: 1;
}

.menu-item {
  transition: color 0.3s ease, background-color 0.3s ease;
}


.link-active {
  color: #5CFF85;
  transition: color 0.3s ease-in-out;
}

.link-inactive {
  color:#BDBDBD80 ;
  transition: color 0.3s ease-in-out;
}

.chevron-icon {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.chevron-icon-active {
  transform: translateX(0);
  opacity: 1;
}

.chevron-icon-inactive {
  transform: translateX(-10px);
  opacity: 0;
}


/* calender */

.rdp-months {
  margin: 0.4em 1em;
}

.rdp-caption {
  padding-top: 0.8em;
  font-size: 1em;
}

.rdp-head_cell, .rdp-day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}

.rdp-nav {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}

.rdp-nav_prev {
  border-right-color: #ccc;
  left: 1em;
}

.rdp-nav_next {
  border-left-color: #ccc;
  right: 1em;
}
.rdp {
  --rdp-background-color: #222;
  --rdp-cell-size: 3.5em;
  font-size: 1.1em;
}

.rdp-table {
  width: 100%;
  max-width: 100%;
}

.rdp-cell {
  width: 100%;
  max-width: 100%;
}

.rdp .rdp-day_selected {
  background-color: #ff0000 !important;
  color: white;
}

.rdp .rdp-caption {
  color: white;
}

.rdp .rdp-head {
  color: white;
}

.rdp .rdp-cell {
  border: none;
}

.rdp .rdp-button {
  color: white;
}

.rdp .rdp-day:hover {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
}

.rdp .rdp-day_selected:hover {
  background-color: #ff0000 !important;
  color: white !important;
}



.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 22px !important; /* default to 10px */
}

@media (max-width: 2000px) {
  .responsive-calendar {
    font-size: 20px !important;
  }
}

@media (max-width: 1800px) {
  .responsive-calendar {
    font-size: 18px !important;
  }
}

@media (max-width: 1700px) {
  .responsive-calendar {
    font-size: 16px !important;
  }
}

@media (max-width: 1600px) {
  .responsive-calendar {
    font-size: 15px !important;
  }
}


@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 14px !important;
  }
}

@media (max-width: 1400px) {
  .responsive-calendar {
    font-size: 13px !important;
  }
}

@media (max-width: 1300px) {
  .responsive-calendar {
    font-size: 11px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 10px !important;
  }

}

@media (max-width: 1100px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}